<div class='card'>
    <form (ngSubmit)="editProduct()">
        <div class='card-header'>
            Edit Product
        </div>
        <div class='card-body'>
            <div class='table-responsive'>
                <table class='table'>

                    <tbody>
                        <!-- <tr>
                            <td> <label>Product Id</label></td>
                            <td><input type="text" name="p_id" [(ngModel)]="productItem.productId" /></td>
                        </tr> -->
                        <tr>
                            <td><label>Title</label></td>
                            <td><input type="text" name="p_name" [(ngModel)]="productItem.title"></td>
                        </tr>
                        <tr>
                            <td><label>About</label></td>
                            <td><input type="text" name="p_code" [(ngModel)]="productItem.about"></td>
                        </tr>
                        <!-- <tr>
                            <td><label>Product Date</label></td>
                            <td><input type="text" name="p_date" [(ngModel)]="productItem.releasedate" /></td>
                        </tr> -->
                        <!-- <tr>
                            <td><label>Product Description</label></td>
                            <td><input type="text" name="p_desc" [(ngModel)]="productItem.description" /></td>
                        </tr> -->
                        <tr>
                            <td> <label>Author</label></td>
                            <td><input type="text" name="p_price" [(ngModel)]="productItem.author" /></td>
                        </tr>
                        <tr>
                            <td> <label>Image</label></td>
                            <td><input type="text" name="p_rating" [(ngModel)]="productItem.image" /></td>
                        </tr>
                        <tr>
                            <td> <label>Rating</label></td>
                            <td><input type="text" name="p_rating" [(ngModel)]="productItem.rating" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>